$body-color: linear-gradient(180deg, rgb(57, 57, 57) 0%, rgb(0, 0, 0) 100%);

$primaryColor: #00d8ff;
$primary2Color: #eaff00;
$secondaryColor: #009ebac3;
$secondary2Color: #d1e400;
$ternaryColor: #2d2d2d;
$ternary2Color: rgb(28, 28, 28);

$espColor: rgb(231, 127, 0);

$white: rgb(240, 240, 240);
$white2: rgb(226, 226, 226);