@import '../../../styles/variables.scss';

a {
  background-color: $primaryColor;
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.title_bar {
  position: absolute;
  left: 20px;
}

.bar-container {
  width: 100%;
  height: 10%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  background-color: $ternary2Color;
}

.danger_btn {
  color: red;
  font-size: 1rem;
}

.bar_btn {
  color: $primaryColor;
  font-size: 1.2rem;
  cursor: pointer;
}

.bar_btn_user {
    @extend .bar_btn;
    margin-right: 5px;
}

.bar_btn:hover {
  color: $secondaryColor
}

.spans-container {
  position: absolute;
  right:  80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
